@model QuanLyNhanSu.Models.ChucVu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="text-center text-danger">Bạn Có Chắc Muốn Xóa Thông Tin Chức Vụ Này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenCV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenCV)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            <input type="submit" value="Xóa" class="btn btn-danger " /> 
            <div class="col-md-2">
                <a href="@Url.Action("Index","ChucVus")" class="btn btn-primary">Trở lại</a>
            </div>
        </div>

    }
</div>
