/* BEGIN EXTERNAL SOURCE */

        .note-editable {
            min-height: 200px;
        }

        .note-toolbar {
            margin: 0 auto;
            padding: 5px 0;
        }

        .text-csm {
            font-family: Arial, Helvetica, sans-serif;
            color: #dc3545;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 17px;
            padding: 10px 0 0 10px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
z-index:1; opacity:.3
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
min-width:200px; font-size: 15px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
opacity: .8
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

                #menu a {
                    color: white;
                }
            
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top:10px;padding-left:20px;padding-right:20px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

        .note-editable {
            min-height: 200px;
        }

        .note-toolbar {
            margin: 0 auto;
            padding: 5px 0;
        }

        .text-csm {
            font-family: Arial, Helvetica, sans-serif;
            color: #dc3545;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 17px;
            padding: 10px 0 0 10px;
        }
    
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
z-index:1; opacity:.3
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
min-width:200px; font-size: 15px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
opacity: .8
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */

                #menu a {
                    color: white;
                }
            
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
padding-top:10px;padding-left:20px;padding-right:20px
}
/* END EXTERNAL SOURCE */
